html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

.header-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.header-screen .main-menu-bar {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-screen .main-menu-bar .left-button {
  background-color: transparent;
  display: flex;
  padding: 0;
}
.header-screen .main-menu-bar .left-button .left-button__image {
  padding: 8px 10px 8px 20px;
  cursor: pointer;
}
.header-screen .main-menu-bar .header-content {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01px;
  color: #212121;
}
.header-screen .main-menu-bar .header-content.left-content {
  flex: 1;
}
.header-screen .main-menu-bar .right-button {
  display: flex;
  padding: 0;
  background-color: transparent;
}
.header-screen .main-menu-bar .right-button .right-button__image {
  padding: 8px 20px;
  cursor: pointer;
}
.header-screen .main-menu-bar.no-left {
  padding-left: 20px;
}
.header-screen .main-menu-bar.no-left .left-button {
  display: none;
}
.header-screen .main-menu-bar.no-right .right-button {
  display: none;
}
.header-screen .main-menu-bar .header-content {
  display: flex;
  align-items: center;
}
.header-screen .main-menu-bar .header-content .icon-content {
  margin-right: 5px;
}
.header-screen .main-menu-bar .list-item-dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  list-style: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100vh - 45px);
}
.header-screen .main-menu-bar .list-item-dropdown .list-items {
  background-color: #ffffff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) inset;
}
.header-screen .main-menu-bar .list-item-dropdown .list-items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}
.header-screen .main-menu-bar .list-item-dropdown.hidden {
  display: none;
}
.header-screen .menu-slide {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-screen .menu-slide.hidden {
  display: none;
}
.header-screen .menu-slide .menu-content {
  position: relative;
  width: 89%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.header-screen .menu-slide .menu-content .menu-slide__login {
  height: 87px;
  position: relative;
  padding: 61px 0 42px 20px;
  background-color: #f5f5f5;
}
.header-screen .menu-slide .menu-content .menu-slide__login .menu-slide__close-icon {
  padding: 13px 18px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail {
  display: flex;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-avatar-circle {
  width: 87px;
  height: 87px;
  border-radius: 50%;
  margin-right: 10px;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-avatar-circle .user-avatar-circle__user-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content {
  padding-top: 2px;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__user-name {
  font-size: 17px;
  line-height: 15px;
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 0.85);
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__user-type {
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 13px;
  color: #757575;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions {
  display: flex;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #eeeeee;
  color: #424242;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 9px 15px 10px;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions .button.small-button {
  font-size: 10px;
  padding: 7px 15px 8px;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions .button.active {
  background-color: #3c5afe;
  font-weight: 700;
  color: #ffffff;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions .button.button-full-width {
  width: 100%;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions .button.no-radius {
  border-radius: 0;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions .button.large-button {
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 20px;
  padding: 11px 33px;
  font-weight: 500;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions .button.large-title-button {
  font-size: 16px;
  letter-spacing: -0.11px;
  line-height: 24px;
  padding: 11px 33px;
  font-weight: 500;
}
.header-screen .menu-slide .menu-content .menu-slide__login .user-box-detail .user-box-detail__right-content .user-box-detail__actions .button:first-child {
  margin-right: 10px;
}
.header-screen .menu-slide .menu-content .menu-slide__list-menu {
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 3px;
  padding-bottom: 35px;
  flex: 1;
}
.header-screen .menu-slide .menu-content .menu-slide__list-menu .menu .menu-item .menu-item-content {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 22px;
  cursor: pointer;
  font-size: 15px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.85);
}
.header-screen .menu-slide .menu-content .menu-slide__list-menu .menu .menu-item.menu-sub-item {
  padding-left: 36px;
  color: #757575;
}
.container {
  padding-top: 50px;
}
.container .game_list .game-card-item {
  padding: 10px 20px 0 20px;
}
.container .game_list .game-card-item .card-content {
  position: relative;
}
.container .game_list .game-card-item .card-content .image-game {
  width: 100%;
  height: 311px;
  object-fit: cover;
  border-radius: 8px;
}
.container .game_list .game-card-item .card-content .game-layer {
  position: absolute;
  border-radius: 8px;
  top: 0;
  height: 311px;
  left: 0;
  right: 0;
  z-index: 1;
}
.container .game_list .game-card-item .card-content .game-name {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 23px;
  font-size: 12px;
  color: #ffffff;
  z-index: 2;
}
.container .game_list .game-card-item .card-content .game-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 47px;
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
  z-index: 2;
  padding: 0 30%;
}
.container .game_list .game-card-item .card-content .game-count {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  top: 271px;
  z-index: 2;
}
.container .game_list .game-card-item .card-content .game-count .icon-count {
  width: 14px;
  height: 14px;
  margin-right: 4px;
}
.container .game_list .game-card-item .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 13px 0;
}
.container .game_list .game-card-item .card-footer .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #eeeeee;
  color: #424242;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 9px 15px 10px;
}
.container .game_list .game-card-item .card-footer .button.small-button {
  font-size: 10px;
  padding: 7px 15px 8px;
}
.container .game_list .game-card-item .card-footer .button.active {
  background-color: #3c5afe;
  font-weight: 700;
  color: #ffffff;
}
.container .game_list .game-card-item .card-footer .button.button-full-width {
  width: 100%;
}
.container .game_list .game-card-item .card-footer .button.no-radius {
  border-radius: 0;
}
.container .game_list .game-card-item .card-footer .button.large-button {
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 20px;
  padding: 11px 33px;
  font-weight: 500;
}
.container .game_list .game-card-item .card-footer .button.large-title-button {
  font-size: 16px;
  letter-spacing: -0.11px;
  line-height: 24px;
  padding: 11px 33px;
  font-weight: 500;
}
.container .game_list .game-card-item.blue-item .game-layer {
  background: linear-gradient(178deg, rgba(247, 255, 255, 0.4) 0%, rgba(69, 93, 189, 0.4) 54%, rgba(21, 16, 22, 0.4) 100%);
}
.container .game_list .game-card-item.purple-item .game-layer {
  background: linear-gradient(178deg, rgba(255, 252, 251, 0.4) 0%, rgba(95, 27, 136, 0.4) 3%, rgba(20, 12, 10, 0.4) 100%);
}
.container .game_list .game-card-item .card-footer .button {
  margin: 0 4.5px;
}

.footer-screen .footer-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 108px;
}
.footer-screen .footer-main .footer-main__title {
  color: #424242;
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
}
.footer-screen .footer-main .footer-main__sub-contents {
  display: flex;
  flex-wrap: nowrap;
}
.footer-screen .footer-main .footer-main__sub-contents .footer-main__sub-content {
  font-size: 9px;
  color: #757575;
  margin: 0 2.5px;
}

/*# sourceMappingURL=styles.css.map */
