@import "../commonStyle/styles";
@import "../CommonStyle/global";
@import "../commonStyle/gameCardItem";
@import "../commonStyle/menuSlide";
@import "../commonStyle/navBar";
@import "../commonStyle/playerDetail";
@import "../commonStyle/menuBar";
@import "../commonStyle/counterButton";
@import "../commonStyle/boxInput";

.header-screen {
  @include fixed-top;
  z-index: $zIndexHeader;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
  background-color: $backgroundColorBody;

  .main-menu-bar {
    position: relative;
    @include main-menu-bar;

    .left-button {
      @include icon-header;
    }

    .header-content {
      display: flex;
      align-items: center;

      .icon-content {
        @include icon-header;
        margin-right: 5px;
      }
    }


  }
}

.container {
  padding-top: 50px;
  .game-section {
    background-color: $backgroundColorSearchBar;
    height: 39px;
    padding-left: $paddingCommon;
    display: flex;
    align-items: center;
    .box-input__game-title {
      font-size: $fontHeader;
      letter-spacing: -0.09px;
      color: $colorActive;
      font-weight: $fontWeightMedium;
    }
  }
  .community-writing-wrapper {
    padding: 0 $paddingCommon 62px $paddingCommon;


    .community-section {
      margin-top: 30px;
      @include box-input;

      .community-section__textarea-section {
        font-size: $fontXHeader;
        color: $colorInActive;
        font-weight: $fontWeightMedium;
        min-height: 231px;
        border: none;
        width: 100%;
        resize: none;
        word-break: break-word;
        line-height: 19px;
      }

      &:last-child {
        border-bottom: none;
      }

      &.game-section {
        .community-section__input-section {
          color: $colorInActive;
        }
      }
    }
  }
}

.footer-screen {
  @include fixed-bottom;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left-content {
    padding-left: $paddingCommon;
    .button-image {
    }
  }
  .right-content {
    padding-right: $paddingCommon;
    .counter-button {
      @include counter-button;
      font-size: $fontXHeader;
      line-height: 20px;
      color: $colorInActive;
      font-weight: $fontWeightBold;

      &.selected {
        color: $colorActive;
      }
    }
  }
}
