@import "../commonStyle/styles";
@import "../CommonStyle/global";
@import "../commonStyle/playerDetail";
@import "../commonStyle/menuBar";

.header-screen {
  @include fixed-top;
  z-index: $zIndexHeader;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
  background-color: $backgroundColorBody;

  .main-menu-bar {
    position: relative;
    @include main-menu-bar;

    .left-button {
      @include icon-header;
    }

    .header-content {
      display: flex;
      align-items: center;

      .icon-content {
        @include icon-header;
        margin-right: 5px;
      }
    }



    .list-item-dropdown {
      position: absolute;
      top: 45px;
      left: 0;
      right: 0;
      list-style: none;
      z-index: $zIndexDropdownList;
      background-color: $backgroundLayerCommon;
      height: calc(100vh - 45px);

      .list-items {
        background-color: $backgroundColorBody;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) inset;

        .item {
          @include center-items;
          height: 50px;
          font-size: $fontXXHeader;
          font-weight: $fontWeightMedium;
          line-height: 26px;
        }
      }

      &.hidden {
        display: none;
      }
    }
  }

  .tabs-menu {
    @include tabs;
    list-style: none;
    margin-bottom: 0;
    margin-top: 13px;

    .tab {
      &.active {

      }
    }
  }
}

.container {
  padding-top: 102px;

  .search-bar {
    @include search-bar;
  }

  .player-list {
    padding: $paddingCommon $paddingCommon 0;

    .player-detail-common {
      @include player-detail-common;
      height: 96px;
      padding: 0 9px;
      border: 1px solid $backgroundButton;
      background-color: $backgroundPlayerDetailCommon;
      border-radius: 3px;
      margin-bottom: 15px;
    }
  }
}

.footer-screen {
  @include center-items;
  margin: 6px auto 30px auto;
  .button {
    @include button;
    margin: 0 auto;
  }
}
