html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

button {
  border: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none;
}

.header-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.header-screen .main-menu-bar {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-screen .main-menu-bar .left-button {
  padding: 8px 20px;
  cursor: pointer;
}
.header-screen .main-menu-bar .header-content {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01px;
  color: #212121;
}
.header-screen .main-menu-bar .header-content.left-content {
  flex: 1;
}
.header-screen .main-menu-bar .right-button {
  padding: 8px 20px;
  cursor: pointer;
}
.header-screen .main-menu-bar.no-left {
  padding-left: 20px;
}
.header-screen .main-menu-bar .header-content {
  display: flex;
  align-items: center;
}
.header-screen .main-menu-bar .header-content .icon-content {
  margin-right: 5px;
}
.header-screen .main-menu-bar .right-button {
  width: 24px;
}
.header-screen .main-menu-bar .list-item-dropdown {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  list-style: none;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(100vh - 45px);
}
.header-screen .main-menu-bar .list-item-dropdown .list-items {
  background-color: #ffffff;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1) inset;
}
.header-screen .main-menu-bar .list-item-dropdown .list-items .item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
}
.header-screen .main-menu-bar .list-item-dropdown.hidden {
  display: none;
}
.header-screen .tabs-menu {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 39px;
  list-style: none;
  margin-bottom: 0;
  margin-top: 13px;
}
.header-screen .tabs-menu .tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #bdbdbd;
  padding: 0 3px;
  margin-right: 12px;
  cursor: pointer;
  height: 100%;
  border-bottom: 3px solid transparent;
}
.header-screen .tabs-menu .tab.active {
  font-weight: 700;
  color: #212121;
  border-bottom: 3px solid #3c5afe;
}
.header-screen .tabs-menu.no-border .tab {
  border: none;
}
.container {
  padding-top: 102px;
}
.container .search-bar {
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #f5f5f5;
}
.container .search-bar .search-input {
  flex: 1;
  background-color: #f5f5f5;
}
.container .search-bar .icon-search {
  cursor: pointer;
}
.container .list-community-posts {
  padding: 20px 20px 8.5px;
}
.container .list-community-posts .list-community-posts__list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .list-community-posts .list-community-posts__list-header .list-community-posts__title {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.11px;
  line-height: 22px;
  color: #212121;
}
.container .list-community-posts .list-community-posts__list-header .list-community-posts__icon-edit {
  width: 21px;
  height: 21px;
}
.container .list-community-posts .divider {
  border-top: 1px solid #eeeeee;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  width: 100%;
}
.container .list-community-posts .divider:first-child {
  margin-top: 9px;
}
.container .list-community-posts .community-article {
  position: relative;
  display: flex;
}
.container .list-community-posts .community-article .community-article__image-post {
  object-fit: cover;
  width: 57px;
  height: 57px;
  padding-top: 5px;
  padding-right: 10px;
}
.container .list-community-posts .community-article .community-article__detail {
  width: calc(100% - 67px);
}
.container .list-community-posts .community-article .community-article__detail .community-article__author {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #212121;
  letter-spacing: -0.1px;
  margin-bottom: 4px;
}
.container .list-community-posts .community-article .community-article__detail .community-article__article-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #616161;
  letter-spacing: -0.09px;
  margin-bottom: 3px;
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}
.container .list-community-posts .community-article .community-article__detail .community-article__article-time {
  font-size: 11px;
  font-weight: 300;
  line-height: 17px;
  color: #9e9e9e;
  letter-spacing: -0.09px;
  margin-bottom: 10px;
}
.container .list-community-posts .community-article .community-article__like-comment-count {
  position: absolute;
  border-right: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}
.container .list-community-posts .community-article .community-article__like-comment-count .counter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: -0.08px;
  line-height: 17px;
}
.container .list-community-posts .community-article .community-article__like-comment-count .counter-button .counter-button__icon {
  margin-right: 5px;
}
.container .list-community-posts .community-article .community-article__like-comment-count .counter-button.like {
  color: #3c5afe;
}
.container .list-community-posts .community-article .community-article__like-comment-count .counter-button.reply {
  color: #8e23aa;
}
.container .list-community-posts .community-article .community-article__like-comment-count .counter-button.like {
  margin-right: 7px;
}

.footer-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 30px auto;
}
.footer-screen .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #eeeeee;
  color: #424242;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 9px 15px 10px;
  margin: 0 auto;
}
.footer-screen .button.small-button {
  padding: 7px 15px 8px;
}
.footer-screen .button.active {
  background-color: #3c5afe;
  font-weight: 700;
  color: #ffffff;
}
.footer-screen .button.button-full-width {
  width: 100%;
}
.footer-screen .button.no-radius {
  border-radius: 0;
}
.footer-screen .button.large-button {
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 20px;
  padding: 11px 33px;
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
