html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: transparent !important;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  cursor: pointer;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.short-one-line-three-dot {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-bold {
  font-weight: 700;
}

.header-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.header-screen .main-menu-bar {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-screen .main-menu-bar .left-button {
  background-color: transparent;
  display: flex;
  padding: 0;
}
.header-screen .main-menu-bar .left-button .left-button__image {
  padding: 8px 10px 8px 20px;
  cursor: pointer;
}
.header-screen .main-menu-bar .header-content {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01px;
  color: #212121;
}
.header-screen .main-menu-bar .header-content.left-content {
  flex: 1;
}
.header-screen .main-menu-bar .right-button {
  display: flex;
  padding: 0;
  background-color: transparent;
}
.header-screen .main-menu-bar .right-button .right-button__image {
  padding: 8px 20px;
  cursor: pointer;
}
.header-screen .main-menu-bar.no-left {
  padding-left: 20px;
}
.header-screen .main-menu-bar.no-left .left-button {
  display: none;
}
.header-screen .main-menu-bar.no-right .right-button {
  display: none;
}
.header-screen .main-menu-bar .header-content {
  display: flex;
  align-items: center;
}
.header-screen .main-menu-bar .header-content .icon-content {
  margin-right: 5px;
}

.container {
  padding: 50px 20px;
}
.container .community-detail-view {
  padding-top: 24px;
}
.container .community-detail-view .community-detail-view__title {
  font-weight: 700;
  font-size: 16px;
  color: #212121;
  letter-spacing: -0.01px;
  line-height: 24px;
  padding-bottom: 6px;
}
.container .community-detail-view .divider {
  border-top: 1px solid #eeeeee;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 17px;
}
.container .community-detail-view .community-detail-view__post-owner {
  display: flex;
  align-items: center;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__image-owner {
  border-radius: 50%;
  object-fit: cover;
  width: 42px;
  height: 42px;
  margin-right: 10px;
  background-color: #bdbdbd;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__owner {
  flex: 1;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__owner .community-detail-view__owner-name {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.09px;
  color: #212121;
  line-height: 17px;
  margin-bottom: 1px;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__owner .community-detail-view__post-detail {
  display: flex;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 3px;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__owner .community-detail-view__post-detail .community-detail-view__post-detail-item {
  margin-right: 17px;
  font-weight: 300;
  font-size: 11px;
  letter-spacing: -0.08px;
  color: #616161;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__owner .community-detail-view__post-detail .community-detail-view__post-detail-item:last-child {
  margin-right: 0;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__post-actions {
  display: flex;
  align-items: center;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__post-actions .community-detail-view__action {
  padding: 8px;
  margin-right: 14px;
  cursor: pointer;
}
.container .community-detail-view .community-detail-view__post-owner .community-detail-view__post-actions .community-detail-view__action:last-child {
  margin-right: 0;
}
.container .community-detail-view .community-detail-view__post-des {
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  letter-spacing: -0.1px;
  line-height: 21px;
  padding-bottom: 15px;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__total-count-comment {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  letter-spacing: -0.1px;
  line-height: 18px;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__total-count-comment .replies-box__total-count-icon {
  width: 9px;
  height: 12px;
  object-fit: cover;
  margin-left: 5px;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies {
  padding: 18px 0;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top {
  display: flex;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__left-content {
  width: calc(100% - 34px);
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__left-content .reply-item__top-detail {
  display: flex;
  align-items: center;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__left-content .reply-item__top-detail .reply-item__user-name {
  font-weight: 500;
  font-size: 12px;
  color: #212121;
  letter-spacing: -0.09px;
  line-height: 17px;
  margin-right: 17px;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__left-content .reply-item__top-detail .reply-item__date, .container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__left-content .reply-item__top-detail .reply-item__time {
  font-weight: 300;
  font-size: 10px;
  color: #212121;
  letter-spacing: -0.07px;
  margin-right: 17px;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__left-content .reply-item__top-detail .reply-item__date:last-child, .container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__left-content .reply-item__top-detail .reply-item__time:last-child {
  margin-right: 0;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__left-content .reply-item__bot-detail .reply-item__des {
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
  font-weight: 400;
  font-size: 11px;
  color: #616161;
  letter-spacing: -0.08px;
  line-height: 17px;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__top .reply-item__right-content .reply-item__action {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 18px;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__bottom .reply-item__warning-box {
  display: flex;
  align-items: center;
  color: #f84444;
  line-height: 10px;
  font-size: 10px;
  font-weight: 400;
  margin-top: 3px;
}
.container .community-detail-view .community-detail-view__comment-wrapper.replies-box .replies-box__list-replies .replies-box__reply.reply-item .reply-item__bottom .reply-item__warning-box .reply-item__warning-icon {
  margin-right: 2px;
}

.footer-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-left: 18px;
}
.footer-screen .big-input-box {
  display: flex;
  align-items: center;
  flex: 1;
}
.footer-screen .big-input-box .big-input-box__label {
  line-height: 18px;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  margin-right: 18px;
  letter-spacing: -0.1px;
}
.footer-screen .big-input-box .big-input-box__input {
  flex: 1;
  border: none;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  letter-spacing: -0.1px;
}
.footer-screen .big-input-box .big-input-box__input.disabled {
  pointer-events: none;
}
.footer-screen .big-input-box .big-input-box__input::placeholder {
  color: #bdbdbd;
}
.footer-screen .big-input-box .big-input-box__input:focus {
  border-bottom: 1px solid #3c5afe;
  color: #424242;
  transition: border-bottom-color 0.6s ease-out;
  transition: color 0.2s ease-out;
}
.footer-screen .big-input-box .big-input-box__right-button {
  padding: 5px 20px;
}

@media only screen and (max-width: 361px) {
  .container .community-detail-view .community-detail-view__post-owner .community-detail-view__post-actions .community-detail-view__action {
    margin-right: 7px;
    padding: 2px;
  }
}

/*# sourceMappingURL=styles.css.map */
