@import "../commonStyle/styles";
@import "../CommonStyle/global";
@import "../commonStyle/gameCardItem";
@import "../commonStyle/menuSlide";
@import "../commonStyle/navBar";
@import "../commonStyle/playerDetail";
@import "../commonStyle/menuBar";
@import "../commonStyle/counterButton";
@import "../commonStyle/boxAvatar";
@import "../commonStyle/socialIcon";
@import "../commonStyle/socialItem";
@import "../commonStyle/boxInput";

.header-screen {
  @include fixed-top;
  z-index: $zIndexHeader;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
  background-color: $backgroundColorBody;

  .main-menu-bar {
    position: relative;
    @include main-menu-bar;

    .left-button {
      @include icon-header;
    }

    .header-content {
      display: flex;
      align-items: center;

      .icon-content {
        @include icon-header;
        margin-right: 5px;
      }
    }


  }
}

.container {
  padding-top: 50px;

  .my-profile-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 90px $paddingCommon 74px;

    .box-avatar {
      @include box-avatar;
      margin-bottom: 24px;
    }

    .box-input {
      @include box-input;
      width: 100%;
      margin-bottom: 47px;
    }

    .my-profile-view__email {
      font-size: $fontHeaderXXTitle;
      line-height: 27px;
      color: $colorInfoDetail;
      font-weight: $fontWeightRegular;
      letter-spacing: -0.13px;

      margin-bottom: 24px;
    }

    .social-buttons {
      display: flex;
      align-items: center;
      margin-bottom: 14px;

      .social-icon {
        @include social-icon;
      }
    }

    .actions {
      width: calc(100% - 20px);

      .social-item {
        @include social-item;
        margin-bottom: 15px;
      }
    }
  }
}

.footer-screen {
  @include fixed-bottom;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $backgroundColorBody;

  .button {
    @include button;
  }
}
