@import "../commonStyle/styles";
@import "../CommonStyle/global";
@import "../commonStyle/gameCardItem";
@import "../commonStyle/menuSlide";
@import "../commonStyle/navBar";
@import "../commonStyle/playerDetail";
@import "../commonStyle/menuBar";
@import "../commonStyle/counterButton";
@import "../commonStyle/boxAvatar";
@import "../commonStyle/socialIcon";
@import "../commonStyle/socialItem";
@import "../commonStyle/noteBox";
@import "../commonStyle/boxInput";
@import "../commonStyle/pageNavigator";

.header-screen {
  @include fixed-top;
  z-index: $zIndexHeader;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1);
  background-color: $backgroundColorBody;

  .main-menu-bar {
    position: relative;
    @include main-menu-bar;

    .left-button {
      @include icon-header;
    }

    .header-content {
      display: flex;
      align-items: center;

      .icon-content {
        @include icon-header;
        margin-right: 5px;
      }
    }


  }
}

.container {
  padding-top: 50px;

  .search-bar {
    @include search-bar;
  }

  .FAQ-list {
    padding: 10px $paddingCommon 62px $paddingCommon;
    .FAQ-list__actions {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 10px;
      margin-bottom: 16px;
      border-bottom: 1px solid $colorVeryLightPinkThree;
      .button {
        @include button;
        //line-height: 12px;
        //padding: 9.5px 15px 11.5px 15px;
        //border-radius: 16.5px;
      }
    }

    .FAQ-box {
      @include FAQ-box;
    }
  }
}

.footer-screen {
  @include fixed-bottom;
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: $backgroundColorBody;

  .page-navigator {
    @include page-navigator;
    padding-bottom: 30px;
  }
}
