html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type=file] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer */
  -khtml-user-select: none;
  /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none;
  /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none;
  /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: 13px;
  color: #424242;
}
input::placeholder, textarea::placeholder {
  color: #bdbdbd;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

.header-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.header-screen .main-menu-bar {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-screen .main-menu-bar .left-button {
  background-color: transparent;
  display: flex;
  padding: 0;
}
.header-screen .main-menu-bar .left-button .left-button__image {
  padding: 8px 10px 8px 20px;
  cursor: pointer;
}
.header-screen .main-menu-bar .header-content {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.01px;
  color: #212121;
}
.header-screen .main-menu-bar .header-content.left-content {
  flex: 1;
}
.header-screen .main-menu-bar .right-button {
  display: flex;
  padding: 0;
  background-color: transparent;
}
.header-screen .main-menu-bar .right-button .right-button__image {
  padding: 8px 20px;
  cursor: pointer;
}
.header-screen .main-menu-bar.no-left {
  padding-left: 20px;
}
.header-screen .main-menu-bar.no-left .left-button {
  display: none;
}
.header-screen .main-menu-bar.no-right .right-button {
  display: none;
}
.header-screen .main-menu-bar .header-content {
  display: flex;
  align-items: center;
}
.header-screen .main-menu-bar .header-content .icon-content {
  margin-right: 5px;
}

.container {
  padding-top: 50px;
}
.container .search-bar {
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #f5f5f5;
}
.container .search-bar .search-input {
  flex: 1;
  background-color: #f5f5f5;
}
.container .search-bar .icon-search {
  cursor: pointer;
}
.container .FAQ-list {
  padding: 10px 20px 62px 20px;
}
.container .FAQ-list .FAQ-list__actions {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  margin-bottom: 16px;
  border-bottom: 1px solid #eeeeee;
}
.container .FAQ-list .FAQ-list__actions .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: #eeeeee;
  color: #424242;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  padding: 9px 15px 10px;
}
.container .FAQ-list .FAQ-list__actions .button.small-button {
  font-size: 10px;
  padding: 7px 15px 8px;
}
.container .FAQ-list .FAQ-list__actions .button.active {
  background-color: #3c5afe;
  font-weight: 700;
  color: #ffffff;
}
.container .FAQ-list .FAQ-list__actions .button.button-full-width {
  width: 100%;
}
.container .FAQ-list .FAQ-list__actions .button.no-radius {
  border-radius: 0;
}
.container .FAQ-list .FAQ-list__actions .button.large-button {
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 20px;
  padding: 11px 33px;
  font-weight: 500;
}
.container .FAQ-list .FAQ-list__actions .button.large-title-button {
  font-size: 16px;
  letter-spacing: -0.11px;
  line-height: 24px;
  padding: 11px 33px;
  font-weight: 500;
}
.container .FAQ-list .FAQ-box .FAQ-box__top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .FAQ-list .FAQ-box .FAQ-box__top-header .FAQ-box__top-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: #212121;
  letter-spacing: -0.1px;
}
.container .FAQ-list .FAQ-box .FAQ-box__des {
  padding-top: 23px;
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #616161;
  letter-spacing: -0.1px;
}
.container .FAQ-list .FAQ-box .divider {
  border-top: 1px solid #eeeeee;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  width: 100%;
  margin: 16px 0;
}
.container .FAQ-list .FAQ-box.active .FAQ-box__top-header {
  font-weight: 700;
}

.footer-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  height: 62px;
  background-color: #ffffff;
}
.footer-screen .page-navigator {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}
.footer-screen .page-navigator .action.--first-page {
  margin-right: 11px;
}
.footer-screen .page-navigator .action.--pre-page {
  margin-right: 9px;
}
.footer-screen .page-navigator .action.--next-page {
  margin-left: 9px;
}
.footer-screen .page-navigator .action.--last-page {
  margin-left: 11px;
}
.footer-screen .page-navigator .page {
  font-size: 14px;
  letter-spacing: -0.1px;
  line-height: 20px;
  color: #bdbdbd;
  text-align: center;
  width: 14px;
}
.footer-screen .page-navigator .page.active {
  color: #3c5afe;
}

/*# sourceMappingURL=styles.css.map */
