@import "./styles";
@import "./global";
@import "./counterButton";

@mixin community-article {
  position: relative;
  display: flex;
  //height: 72px;
  .community-article__image-post {
    @include image-user;
    width: 57px;
    height: 57px;
    padding-top: 5px;
    padding-right: 10px;
  }

  .community-article__detail {
    width: calc(100% - 67px);
    .community-article__author {
      font-size: $fontXHeader;
      font-weight: $fontWeightMedium;
      line-height: 20px;
      color: $colorHeaderActive;
      letter-spacing: -0.1px;
      margin-bottom: 4px;
    }
    .community-article__article-title {
      font-size: $fontBody;
      font-weight: $fontWeightRegular;
      line-height: 18px;
      color: $colorBrownishGrey61;
      letter-spacing: -0.09px;
      margin-bottom: 3px;
      @include three-dot;
    }
    .community-article__article-time {
      font-size: $fontXXSmall;
      font-weight: $fontWeightLight;
      line-height: 17px;
      color: $colorBrownGrey;
      letter-spacing: -0.09px;
      margin-bottom: 10px;
    }
  }

  .community-article__like-comment-count {
    position: absolute;
    border-right: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;

    .counter-button {
      @include counter-button;

      &.like {
        margin-right: 7px;
      }
    }
  }
}