@import "./global";
@import "./styles";

@mixin counter-button {
  @include center-items;
  font-size: $fontBody;
  font-weight: $fontWeightRegular;
  letter-spacing: -0.09px;
  line-height: 18px;

  .counter-button__icon {
    margin-right: 6px;
    height: 15px;
  }

  &.like {
    color: $colorActive;
  }

  &.reply {
    color: $colorReply;
  }
}