@import "./global";
@import "./styles";

@mixin counter-button {
  @include center-items;
  font-size: $fontXXSmall;
  font-weight: $fontWeightRegular;
  letter-spacing: -0.08px;
  line-height: 17px;

  .counter-button__icon {
    margin-right: 5px;
  }

  &.like {
    color: $colorActive;
  }

  &.reply {
    color: $colorReply;
  }
}