@import "./styles";
@import "./global";

@mixin game-card-item {
  padding: 10px $paddingCommon 0 $paddingCommon;

  .card-content {
    position: relative;

    .image-game {
      width: 100%;
      height: 311px;
      object-fit: cover;
      border-radius: 8px;
    }

    .game-layer {
      position: absolute;
      border-radius: 8px;
      top: 0;
      height: 311px;
      left: 0;
      right: 0;
      z-index: 1;
    }

    .game-name {
      @include center-items;
      position: absolute;
      left: 0;
      right: 0;
      top: 23px;
      font-size: $fontBody;
      color: $colorWhite;
      z-index: 2;
    }

    .game-intro {
      @include center-items;
      position: absolute;
      left: 0;
      right: 0;
      top: 47px;
      font-size: $fontTitle;
      line-height: 25px;
      color: $colorWhite;
      z-index: 2;
      padding: 0 30%;
    }

    .game-count {
      @include center-items;
      position: absolute;
      left: 0;
      right: 0;
      font-size: $fontBody;
      line-height: 18px;
      color: $colorWhite;
      top: 271px;
      z-index: 2;

      .icon-count {
        width: 14px;
        height: 14px;
        margin-right: 4px;
      }
    }
  }

  .card-footer {
    @include center-items;
    margin: 13px 0;
    .button {
      @include button;
    }
  }

  &.blue-item {
    .game-layer {
      //background: linear-gradient(0deg, #0a3d5afe 0%, #3d5afe 100%);
      background: linear-gradient(178deg, rgba(247,255,255,.4) 0%, rgba(69,93,189,.4) 54%, rgba(21,16,22,.4) 100%);
    }
  }

  &.purple-item {
    .game-layer {
      //background: linear-gradient(0deg, #005b1d85 0%, #60198b 100%);
      background: linear-gradient(178deg, rgba(255,252,251,.4) 0%, rgba(95,27,136,.4) 3%, rgba(20,12,10,.4) 100%);
    }
  }
}