@import "./styles";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}

//* {
//  -webkit-box-sizing: border-box;
//  -moz-box-sizing: border-box;
//  box-sizing: border-box
//}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

input[type='file'] {
  display: none;
}

button, input {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-item: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  color: $colorBody;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  //for not select
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  border: none;
  font-size: $fontHeader;
  color: $colorBody;

  &::placeholder {
    color: $colorInActive;
  }
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.hidden {
  display: none !important;
}

@mixin center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tab {
  @include center-items;
  font-size: $fontHeader;
  color: $colorInActive;
  padding: 0 3px;
  margin-right: 12px;
  cursor: pointer;
}

@mixin tabs {
  padding: 0 $paddingCommon;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 39px;

  .tab {
    @include tab;
    height: 100%;
    border-bottom: 3px solid transparent;

    &.active {
      font-weight: $fontWeightBold;
      color: $colorHeaderActive;
      border-bottom: 3px solid $colorBorderActive;
    }
  }

  &.no-border {
    .tab {
      border: none;
    }
  }
}

@mixin search-bar {
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $paddingCommon;
  background-color: $backgroundColorSearchBar;

  .search-input {
    flex: 1;
    background-color: $backgroundColorSearchBar;
  }

  .icon-search {
    //width: 15px;
    cursor: pointer;
  }
}

@mixin center-text {
  text-align: center;
}

@mixin button {
  @include center-items;
  //height: 31px;
  border-radius: 4px;
  background-color: $backgroundButton;
  color: $colorInfoDetail;
  font-size: $fontBody;
  line-height: $fontBody;
  text-align: center;
  padding: 9px 15px 10px;

  &.small-button {
    font-size: $fontXSmall;
    padding: 7px 15px 8px;
  }

  &.active {
    background-color: $colorActive;
    font-weight: $fontWeightBold;
    color: $colorWhite;
  }

  &.button-full-width {
    width: 100%;
  }

  &.no-radius {
    border-radius: 0;
  }

  &.large-button {
    font-size: $fontXHeader;
    letter-spacing: -0.1px;
    line-height: 20px;
    padding: 11px 33px;
    font-weight: $fontWeightMedium;
  }

  &.large-title-button {
    font-size: $fontHeaderTitle;
    letter-spacing: -0.11px;
    line-height: 24px;
    padding: 11px 33px;
    font-weight: $fontWeightMedium;
  }
}

@mixin image-user {
  object-fit: cover;
}

@mixin circle {
  border-radius: 50%;
}

@mixin fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@mixin fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin icon-header {
  //width: 24px;
  //height: 24px;
}

@mixin scrollHorizontal {
  overflow-y: auto;
  overflow-x: hidden;
}

@mixin divider {
  border-top: 1px solid $colorVeryLightPinkThree;
  margin-top: 13.5px;
  margin-bottom: 13.5px;
  width: 100%;
}

@mixin three-dot {
  text-overflow: ellipsis;
  overflow: hidden !important;
  white-space: nowrap;
}