@import "./styles";
@import "./global";

@mixin modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: $zIndexModalLayer;
  background-color: $backgroundLayerCommon;

  .modal-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .modal-content {
      background-color: $backgroundColorBody;
    }

    &.center-modal {
      @include center-items;
    }
  }
}