@import "./styles";
@import "./global";

@mixin nav-bar {
  display: flex;

  .nav-item {
    flex: 1;
  }
}

@mixin nav-bar-game-detail {
  @include nav-bar;
  @include fixed-bottom;
  background-color: $backgroundColorSearchBar;

  .nav-item {
    @include center-items;
    flex-direction: column;
    height: 72px;
    padding-top: 3px;
    font-size: $fontSmall;
    font-weight: $fontWeightMedium;
    color: $colorInActive;

    &.active {
      color: $colorActive;
    }
  }
}