@import "./styles";
@import "./global";

@mixin note-box {
  .note-box__top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

    .note-box__top-title {
      font-size: $fontXHeader;
      font-weight: $fontWeightMedium;
      line-height: 20px;
      color: $colorHeaderActive;
      letter-spacing: -0.1px;
    }

    .note-box__top-right-icon {

    }
  }
  .note-box__date {
    font-size: $fontXXSmall;
    font-weight: $fontWeightLight;
    line-height: 17px;
    color: $colorBrownishGrey;
    letter-spacing: -0.08px;
    margin-bottom: 15px;
  }

  .note-box__des {
    padding-top: 8px;
    padding-bottom: 6px;
    line-height: 20px;
    letter-spacing: -0.1px;
    font-weight: $fontWeightRegular;
    color: $colorInfoDetail;
  }
  .divider {
    @include divider;
    margin: 15px 0;
  }
}

@mixin FAQ-box {
  .FAQ-box__top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .FAQ-box__top-title {
      font-size: $fontXHeader;
      font-weight: $fontWeightMedium;
      line-height: 20px;
      color: $colorHeaderActive;
      letter-spacing: -0.1px;
    }

    .FAQ-box__top-right-icon {

    }
  }

  .FAQ-box__des {
    padding-top: 23px;
    padding-bottom: 5px;
    font-size: $fontXHeader;
    font-weight: $fontWeightLight;
    line-height: 20px;
    color: $colorBrownishGrey61;
    letter-spacing: -0.1px;
  }

  .divider {
    @include divider;
    margin: 16px 0;
  }

  &.active {
    .FAQ-box__top-header {
      font-weight: $fontWeightBold;
    }
  }
}

@mixin inquiry-box {

  .inquiry-box__top-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 0 $paddingCommon;

    .inquiry-box__box-type {
      color: $colorWhite;
      font-size: $fontXSmall;
      line-height: 10px;
      text-align: center;
      letter-spacing: -0.07px;
      padding: 3px 5px 4px 5px;
      border-radius: 2px;
    }

    .inquiry-box__top-title {
      font-size: $fontXHeader;
      font-weight: $fontWeightMedium;
      line-height: 20px;
      color: $colorHeaderActive;
      letter-spacing: -0.1px;
      flex: 1;
      padding: 0 5px;
    }

    .inquiry-boxx__top-right-icon {

    }
  }
  .inquiry-box__date {
    font-size: $fontXXSmall;
    font-weight: $fontWeightLight;
    line-height: 17px;
    color: $colorBrownishGrey;
    letter-spacing: -0.08px;
    margin-bottom: 15px;
    padding: 0 $paddingCommon;
  }

  .inquiry-box__des {
    line-height: 20px;
    letter-spacing: -0.1px;
    font-weight: $fontWeightRegular;
    color: $colorInfoDetail;
    padding: 8px $paddingCommon 15px;
  }

  .inquiry-box__box-answer {
    padding: 15px $paddingCommon;
    background-color: $backgroundColorSearchBar;

    .inquiry-box__title-answer {
      line-height: 18px;
      font-size: $fontHeader;
      letter-spacing: -0.09px;
      font-weight: $fontWeightBold;
      color: $colorActive;
    }
    .inquiry-box__des-answer {
      line-height: 18px;
      font-size: $fontHeader;
      letter-spacing: -0.09px;
      font-weight: $fontWeightRegular;
      color: $colorHeaderActive;
    }
  }

  .divider {
    @include divider;
    margin-bottom: 15px;
    margin-top: 0;
  }

  &.--waiting-reply {
    .inquiry-box__top-header {
      .inquiry-box__box-type {
        background-color: $colorLightishPurple;
      }
    }
  }

  &.--answer-completed {
    .inquiry-box__top-header {
      .inquiry-box__box-type {
        background-color: $colorActive;
      }
    }
  }
}