@import "./styles";
@import "./global";

@mixin page-navigator {
  display: flex;
  align-items: center;

  .action {
    &.--first-page {
      margin-right: 11px;
    }

    &.--pre-page {
      margin-right: 9px;
    }

    &.--next-page {
      margin-left: 9px;
    }

    &.--last-page {
      margin-left: 11px;
    }
  }
  .page {
    font-size: $fontXHeader;
    letter-spacing: -0.1px;
    line-height: 20px;
    color: $colorInActive;
    text-align: center;
    width: 14px;

    &.active {
      color: $colorActive;
    }
  }
}