@import "./global";
@import "./styles";

@mixin reply-item {
  .reply-item__top {

    display: flex;

    .reply-item__left-content {
      width: calc(100% - 34px);

      .reply-item__top-detail {
        display: flex;
        align-items: center;

        .reply-item__user-name {
          font-weight: $fontWeightMedium;
          font-size: $fontBody;
          color: $colorHeaderActive;
          letter-spacing: -0.09px;
          line-height: 17px;
          margin-right: 17px;
        }

        .reply-item__date, .reply-item__time {
          font-weight: $fontWeightLight;
          font-size: $fontXSmall;
          color: $colorHeaderActive;
          letter-spacing: -0.07px;
          margin-right: 17px;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      .reply-item__bot-detail {
        .reply-item__des {
          @include three-dot;
          font-weight: $fontWeightRegular;
          font-size: $fontXXSmall;
          color: $colorBrownishGrey61;
          letter-spacing: -0.08px;
          line-height: 17px;
        }
      }
    }

    .reply-item__right-content {
      .reply-item__action {
        @include center-items;
        padding: 8px;
        height: 18px;
      }
    }
  }
  .reply-item__bottom {
    .reply-item__warning-box {
      display: flex;
      align-items: center;
      color: $colorAlert;
      line-height: 10px;
      font-size: $fontXSmall;
      font-weight: $fontWeightRegular;
      margin-top: 3px;

      .reply-item__warning-icon {
        margin-right: 2px;
      }
    }
  }
}

@mixin replies-box {
  .replies-box__total-count-comment {
    font-weight: $fontWeightMedium;
    font-size: $fontXHeader;
    color: $colorHeaderActive;
    letter-spacing: -0.1px;
    line-height: 18px;

    .replies-box__total-count-icon {
      width: 9px;
      height: 12px;
      object-fit: cover;
      margin-left: 5px;
    }
  }

  .replies-box__list-replies {
    padding: 18px 0;

    .replies-box__reply {
      &.reply-item {
        @include reply-item;
      }
    }
  }
}