@import "./styles";
@import "./global";

@mixin social-item {
  box-shadow: 0 3px 10px 0 rgba(229, 229, 229, 1);
  background-color: $backgroundColorBody;
  height: 60px;
  padding-left: 3px;
  border-radius: 4px;
  @include center-items;

  .social-item__left-content {
    width: 30px;
    height: 30px;
    object-fit: cover;
    padding: 15px
  }

  .social-item__content {
    flex: 1;
    color: $colorInfoDetail;
    letter-spacing: -0.1px;
    font-size: $fontXHeader;
    font-weight: $fontWeightMedium;
  }

  .social-item__right-content {
    height: 24px;
    padding: 10px;
  }
}